body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.cell {
    vertical-align: middle;
}

.btn1 {
    background: transparent;
}

.btn1:hover {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.no-bottom-margin {
    margin-bottom: 0;
}

.navbar-right-border, .navbar-nav {
    border-right: solid gray 1px;
}

.credits {
    text-align: justify;
    width: 100%;
    margin-right: 15px;
}

.no-devices {
    padding: 10px;
    text-align: center;
}

.dev-edit {
    padding: 10px;
}

.device-box {
    display: flex;
    padding: 10px;
}

.device-box_item {
    display: inline-block;
    overflow: auto;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    min-height: 200px;
}

.device-action {
    display: block;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    transition-duration: 200ms;
}
.device-action:hover {
    text-decoration: none;
    background-color: beige;
    transition-duration: 200ms;
}
.device-action:active {
    text-decoration: none;
    background-color: azure;
    transition-duration: 200ms;
}